.side-buttons {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	display: block;
	width: 100%;
	padding: 3px;
	border-radius: 3px;
}
.primary {
	background-color:#337ab7;
	border: thin solid #2e6da4;
	padding: 5px;
}
.info {
	background-color:#5bc0de;
	border: thin solid #46b8da;
	padding: 5px;
}
.success {
	background-color: #5cb85c;
	border: thin solid #4cae4c;
	padding: 5px;
}
.danger {
	background-color: #d9534f;
	border: thin solid #d43f3a;
	padding: 5px;
}
a, a:hover {
	text-decoration: none;
}
.auth-box {
	margin-top: 55px;
	margin-bottom: 20px;
	height: auto;
	margin-left: 20%;
	margin-right: 20%;
	min-height: 200px;
	border: thin solid #cd596b;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	width: auto;
	overflow-x: auto;
	overflow-y: auto;

}
.box-body {
	float: left;
	text-align: center;
	width: 45%;
}
.box-left {
	border: none;
	overflow-y: auto;
}
.box-right {
	overflow-y: auto;
	border-left: thin solid red;
}
.input-text {
	width: 93%;
	margin: 5px;
	padding: 7px;
	border:1px solid #cd596b;
	border-radius: 3px;
	display:block;
	color:#495057;
}
.submit-button {
	color: #fff;
	background-color: #7c334f;
	border-color: #2e6da4;
	display: block;
	width: 100%;
	padding: 7px;
	border-radius: 3px;

}
.box-body li {
	text-align: left;
}

/* home page */

.main-home {
	float: left;
	width: 99%;
	margin-left: 5px;
	min-height: 32px;
}
.main-inner-top {
	border-bottom: thin solid gray;
	text-align: center;
	padding: 5px;
}
.main-inner-top li {
	list-style: none;
	width: 200px;
	display: inline-block;
	font-size: 22px;
	border: thin solid #e1e1e1;
	background-color: #e5e7e7;
}
.main-inner-bottom {
	min-height: 310px;
	padding: 5px;
	width: 98%;
	text-align: center;
}
.main-inner-bottom table {
	border: thin solid #7c334f;
	border-collapse: collapse;
	border-radius: 3px;
	width: 100%;
}
.main-inner-bottom th, .main-inner-bottom td {
	border: thin solid #cd596b;
	padding: 5px; /*5px 10px 5px 10px;  */
}
.main-inner-bottom td {
	text-align: left;
}
.form {
	background-color: #fff;
	min-height: 100px;
	min-width: 10%;
	max-width: 85%;
	margin: 1%;
	padding: 5px;
	border-radius: 5px;
}
.f-group {
	border: thin solid #e4e8f8;
	display: block;
	margin-left: 1%;
	margin: .5%;
	padding: 5px;
	border-radius: 5px;
}
.form-lable {
	float: left;
	min-width: 30%;
	margin-top: 9px;
	font-size: 21px;
	border-right: thin solid #e4e8f8;
}
.form-double {
	margin-left: 31%;
	width: 60%;
	overflow-wrap: all;
}
.label-item {
	margin-left: 31%;
	width: 60%;
	min-width: 100px;
}
.label-item-left {
	display: inline-block;
	margin-left: 1%;
	width: 25%;
}
.label-item-right {
	display: inline-block;
	width: 25%;
	float: inherit;
}
.form-button {
	width: 30%;
	padding: 10px;
	min-width: 100px;
}
.text-right {
	text-align: right;
}
.home-map {
	background-color: #fff;
	min-height: 300px;
	min-width: 10%;
	max-width: 85%;
	margin: 1%;
	padding: 5px;
	border-radius: 5px;
}
.table-item-red {
	margin: 2px;
	max-width: 60px;
	padding: 2px 3px;
	border-radius: 3px;
	display: inline-block;
}