.side-buttons {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	display: block;
	width: 100%;
	padding: 3px;
	border-radius: 3px;
}
a, a:hover {
	text-decoration: none;
}
.auth-box {
	margin-top: 50px;
	margin-bottom: 20px;
	height: auto;
	margin-left: 20%;
	margin-right: 20%;
	min-height: 200px;
	border: thin solid #cd596b;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	width: auto;
	overflow-x: auto;
	overflow-y: auto;

}
.box-body {
	float: left;
	border-left: thin solid red;
	text-align: center;
	width: 45%;
}
.box-left {
	border: none;
	overflow-y: auto;
}
.box-right {
	overflow-y: auto;
}
.input-text {
	width: 93%;
	margin: 5px;
	padding: 7px;
	border:1px solid #cd596b;
	border-radius: 3px;
	display:block;
	color:#495057;
}
.submit-button {
	color: #fff;
	background-color: #7c334f;
	border-color: #2e6da4;
	display: block;
	width: 100%;
	padding: 7px;
	border-radius: 3px;

}